@page
@model CW18.Areas.AdminArea.Pages.ConfrimCommentsModel
@if (TempData["False"]=="False")
{
    <h1>لاگین نیستید</h1>
}
else{
<div class="card-deck">
    @foreach (var item in Model.Comments)
    {
        <div class="card">
            <div class="card-header">
                از طرف @item.UserName
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
            <p class="card-text"><small class="text-muted">برای خبر  @item.Article.Title</small></p>
            @if (item.IsConfrim == true)
            {
                <p class="btn btn-outline-secondary disabled">تایید شده</p>
            }
            else
            {
                <a asp-route-id="@item.Id" asp-page-handler="Confrim" class="btn btn-outline-success">در انتظار تایید</a>
            }
            </div>
        </div>
    }
</div>
}