@page
@* @model CW18.Areas.ReporterArea.Pages.ArticlesListModel
 *@
<h1>مقاله ها</h1>
<div class="card-deck">
    @* @foreach(var item in Model.Articles)
    {
        <div class="card">
            <img class="card-img-top" src="@item.Image" alt="">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text"><small class="text-muted">@item.Reporter.FisrtName @item.Reporter.LastName</small></p>
                <a asp-page="SelectedArticle" asp-route-id="@item.Id" class="btn btn-outline-info">بیشتر...</a>
            </div>
        </div>
    } *@
</div>