@page
@using CW18.Areas.User
@model CW18.Areas.User.Pages.SelectedArticleModel

<div class="card mb-3">
    <img class="card-img-top" src="@Model.Article.Image" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Article.Title</h5>
        <p class="card-text">@Model.Article.Description</p>
        <p class="card-text"><small class="text-muted">تعداد بازید ازین مقاله @Model.Article.VisitCount</small></p>
        <p class="card-text"><small class="text-muted">دسته بندی @Model.Article.Category.Name</small></p>
    </div>
</div>